.ProductContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
  
  }
  
  .Product {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    height: 50vh;
  }
  
  .Product img {
    max-width: 100%;
    height: 45%;
    border-radius: 8px;
  }

